/* thumbanil */
.boxart-container {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.fallback-text {
  display: none;
}

.video-title {
  display: flex;
}

/* background image */
.static-imgage {
  display: none;
}

.spotlight-background-fill {
  display: none;
}
.title .logo {
  display: none;
}
.billboard-title {
  img.title-logo {
    display: none;
  }
  
}
.billboard-title:before {
  content: "Watch Me";
  display: block;
  font-size: 1.7vw;
}
.alternate_title {
  display: flex;
  margin: 0 auto;
  font-size: 1.0vw;
  text-align: center; 
}

/* video alternatives */
.video-component-container {
  content: "Video";
  border: 1px white solid;
}
